* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    box-sizing: border-box;
    background-color: blanchedalmond;
    background-color: rgb(255, 226, 182);
}

.container {
    width: 601px;
    height: 663px;
    margin: 0 auto;
    position: relative;
    margin-top: 12%;
    background-color: rgb(255, 247, 247);
    display: flex;
    flex-direction: column;
}

.topcaja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102%;
}

.img-arriba {
    width: 32%;
}

.metbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 31%;
}

.izquibox {
    width: 72%;
    background-color: rgb(234, 234, 234);
}

.derechbox {
    width: 102%;
}