.tarjeta{
    width: 480px;
    margin-top: 50px;

}
         .tarjeta .cabecera{
            display: flex;
            padding: 10px;
            border: rgb(199, 199, 199) solid;
            border-radius: 10% 10% 0% 0%;
         }
         .tarjeta .cabecera img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            padding-right: 5px;
         }
          .tarjeta .cabecera span{
            flex: 1;
            text-align: center;
            padding-top: 40px;
            font-size: 24px;
          }
           .tarjeta .cuerpo{
            text-align: justify;
            font-size: 18px;
            padding: 10px;
            border: rgb(199, 199, 199) solid;
           }
            .tarjeta .pie{
                border: rgb(199, 199, 199) solid;
                border-radius: 0% 0% 10% 10%;

            }
             .tarjeta .pie button{
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 20px;
                background-color: rgb(255, 158, 158);
                color: rgb(0, 0, 0);
                margin-top: 30px;
                margin-bottom: 30px;
                padding-right: 10px;
                margin-right: 10px;
             }
.contenedor{
    display: flex;
}
.colorfondoazul{
background-color: blue;
color: aliceblue;

}
.colorfondobisque{
    background-color: bisque;
    color: rgb(0, 0, 0);
    
}
.colorfondorosacoral{
    background-color: rgb(255, 177, 149);
    color: black;
}
.alinearcentro{
    
    justify-content: center;
}
